body{
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lether-h{
    color: white;
}

h1{
    font-weight: nomal;
    font-size: 50px;       
}

p{
    color: aquamarine;
    font-size: 16px;

}
