body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.oshs {
    color: white;
}

.osas {
    color: aquamarine;
    font-size: 16px;
}

h1 {
    font-weight: nomal;
    font-size: 50px;       
}

